<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperionoj.oss.dao.mapper.sys.SysUserMapper">

    <update id="freezeUser" parameterType="String">
        UPDATE oj_sys_user
        <set>
            <if test="status != null">
                status = 1
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>