.app-wrapper .el-header .user-avatar
  align-items center
  margin-right 10px
.el-container
  height 100%
  .el-main .problem
    & > div
      .el-table--fit
        margin 15px 0
      & > div
        display flex
        align-items center
        & > .el-input .el-input__wrapper
          margin 0 10px

    .problem-tag
      padding-left 20px
  .el-aside .el-menu .el-menu-item
    font-size 17px
    line-height 23px
    font-weight 500
    .el-icon
      margin-right 10px

.el-overlay .el-dialog 
  .el-dialog__header
    margin-right 0
    .el-dialog__title
      font-size 24px
      line-height 29px
      font-weight 500
  .el-dialog__body .el-form 
    .el-form-item
      margin-bottom 10px
      .el-form-item__label
        margin-bottom 5px
      .el-form-item__content
        flex-wrap nowrap
        .el-input 
          height 36px
        .el-button
          margin-left 15px
          height 36px
  .el-dialog__footer
    padding-top 0
    .dialog-footer .el-button
      height 40px
      width 102px

.el-main .el-container .el-main
  .el-menu
    margin-bottom 10px
    font-weight 500
  .el-row
    margin 5px 0
  .problem-form 
    margin-top 55px
    .el-row 
      margin 10px 0
      .el-select
        margin-right 20px
      .el-card
        width 100%
        .el-card__body
          padding-left 10px
          width 15%
  .mt-4 .el-input
    height 40px
    .el-input__wrapper
      height inherit
    .el-input-group__append
      height 42px
  .job-list 
    .el-row 
      position relative
      .job-input
        padding-left 10px
      .create-job
        position absolute
        right 10px
    .job-table .el-table__inner-wrapper
      margin 15px 0


