<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperionoj.page.problem.dao.mapper.ProblemCommentMapper">

    <select id="getCommentList" resultType="com.hyperionoj.page.problem.dao.pojo.ProblemComment">
        select id, content, problem_id, create_time, author_id, parent_id, to_uid, support_number, level from
        oj_problem_comment
        <where>
            `is_delete` = 0
            <if test="problemId != null">
                and problem_id = #{problemId}
            </if>
        </where>
        order by create_time desc, support_number desc
    </select>
    <select id="support" resultType="java.lang.Integer">
        select support_number + 1
        from oj_problem_comment
        where (id = #{commentId} and is_delete = 0)
    </select>

</mapper>