<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperionoj.page.article.dao.mapper.ArticleMapper">
    <resultMap id="articleMap" type="com.hyperionoj.page.article.dao.pojo.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author_id" property="authorId"/>
        <result column="summary" property="summary"/>
        <result column="body_id" property="bodyId"/>
        <result column="category_id" property="categoryId"/>
        <result column="create_time" property="createTime"/>
        <result column="comment_count" property="commentCount"/>
        <result column="view_count" property="viewCount"/>
        <result column="weight" property="weight"/>
        <result column="is_solution" property="isSolution"/>
        <result column="problem_id" property="problemId"/>
    </resultMap>

    <select id="listArticle" resultMap="articleMap">
        select id, title, author_id, summary, body_id, category_id, create_time, comment_count, view_count, weight,
        is_solution, problem_id from oj_article
        <where>
            1 = 1
            <if test="problemId != null">
                and problem_id = #{problemId}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="year != null and year.length>0 and month != null and month.length>0">
                and ( FROM_UNIXTIME(create_date/1000,'%Y') = #{year} and FROM_UNIXTIME(create_date/1000,'%m') =
                #{month})
            </if>
            <if test="tagId != null">
                and id in (select article_id from hy_article_tag where tag_id=#{tagId})
            </if>
            and is_delete = 0
        </where>
        order by weight desc, create_time desc
    </select>

    <select id="listArchives" resultType="com.hyperionoj.page.article.dao.dos.Archives">
        select from_unixtime(oj_article.create_time / 1000, '%Y') as year,
               from_unixtime(oj_article.create_time / 1000, '%m') as month,
               count(*)                                           as count
        from oj_article
        group by year, month
    </select>
</mapper>